@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoC1CzjvWyNL4U.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(0, 0, 0);
  }
  button{
    background-color: #874146;
    color: rgb(206, 206, 206);
    border: 3px solid #874146;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-size: 50px;
    gap: 8px;
    justify-content: center;
    line-height: 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all .14s ease-out;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;

  }
  button:hover {
      box-shadow: 4px 4px 0 #F4CD8A;
      transform: translate(-4px,-4px);
  }
  button:focus-visible{
      outline-offset: 1px;
  }               
  /* table */
  table {
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }
  td{
    text-align: center;
  }
  th {
    text-align: left;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;

    color: rgb(206, 206, 206)
  }
  tr{
    background-color: #272727;
    }
  
  tr:nth-child(even) {
    background-color: #1d1d1d;
  }

  
  /*img{
    margin-right: 500%;
  }
 /*@media only screen and (max-width:800px) {
    .sliders {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  
    table {
  
    width: 100%;
  }
  }